header{
    display: flex;
    justify-content: end;
    & > * {
        padding: 0 10%;
    }
& nav {
    justify-self: start;
    display: flex;
    flex-direction: row;
}
& ul {
    display: inherit;
}
& li {
    font-weight: bold;
    padding: 0 10%;
}

& .activeUser {
    display: flex;
    flex-direction: column;
    align-items: end;
    & div {
        display: inherit;
    }
}
& .admintoggle {
    background-color: (linear-gradient: #909090, purple);
}
}
