@use "config" as *;
body {
  display: flex;
  justify-content: center;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1900px;
}
* {
  font-family: $font-header;
  font-size: $font-size;
  line-height: $line-height;
  color: $color-main;
  text-decoration: none;
}
p,
em {
  font-family: $font-paragraph;
  font-size: calc($font-size * 0.45);
  padding: 2%;
}
em {
  font-size: calc($font-size * 0.48);
  padding: 0;
}
sup {
  font-family: $font-paragraph;
  font-size: calc($font-size * 0.2);
  padding: 0;
}

h1 {
  font-size: calc($font-size * 1.9);
  padding: 1rem;
}
h3 {
  font-size: calc($font-size * 0.8);
}
h4 {
  font-size: calc($font-size * 0.6);
}
button {
  font-family: $font-paragraph;
  font-size: calc($font-size * 0.6);
  min-height: 42px;
  padding: calc($font-size * 0.4);
  margin: 1%;
  border: none;
  background-image: linear-gradient($color-accent, $color-medium);
  color: $color-light;
  border-radius: $font-size;
  &:hover {
    border: $color-main;
    box-shadow: 0.2rem 0.3rem 0.2rem $color-accent;
  }
}
li {
  list-style: none;
}
