*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}
body,
html {
  height: 100%;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "PowerOfDragon";
  src: url("../assets//Fonts/power-of-dragon/PowerofDragon-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "DragonFire";
  src: url("../assets/Fonts/dragon-fire/Dragon Fire.ttf") format("truetype");
}
@font-face {
  font-family: "Tropic";
  src: url("../assets/Fonts/tropic-fantasy/Tropic Fantasy.ttf") format("truetype");
}
body {
  display: flex;
  justify-content: center;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1900px;
}

* {
  font-family: "DragonFire";
  font-size: 1.8rem;
  line-height: 1.2;
  color: #000;
  text-decoration: none;
}

p,
em {
  font-family: "Tropic";
  font-size: 0.81rem;
  padding: 2%;
}

em {
  font-size: 0.864rem;
  padding: 0;
}

sup {
  font-family: "Tropic";
  font-size: 0.36rem;
  padding: 0;
}

h1 {
  font-size: 3.42rem;
  padding: 1rem;
}

h3 {
  font-size: 1.44rem;
}

h4 {
  font-size: 1.08rem;
}

button {
  font-family: "Tropic";
  font-size: 1.08rem;
  min-height: 42px;
  padding: 0.72rem;
  margin: 1%;
  border: none;
  background-image: linear-gradient(#133b09, #33983f);
  color: #fff;
  border-radius: 1.8rem;
}
button:hover {
  border: #000;
  box-shadow: 0.2rem 0.3rem 0.2rem #133b09;
}

li {
  list-style: none;
}

.login {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1.2%;
}
.login p {
  max-width: 80%;
  align-self: center;
}
.login h1 {
  font-family: "PowerOfDragon";
}
.login span {
  font-family: "PowerOfDragon";
  font-size: 4.14rem;
}
.login .D {
  font-feature-settings: "ss15" 1;
}
.login > div {
  display: flex;
  flex-direction: column;
}
.login i {
  font-size: 0.9rem;
  align-items: start;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.home ul {
  display: flex;
  justify-content: center;
  width: 100%;
}
.home li {
  padding: 3%;
}
.home a {
  font-size: 2.16rem;
  font-weight: bold;
}

header {
  display: grid;
  grid-template-columns: 40% 1fr 40%;
  grid-template-rows: 1fr 1fr;
  width: 100vw;
  min-height: 5rem;
  background-color: #fff;
  position: relative;
}
header nav {
  grid-column: 1/2;
  grid-row: 1/3;
  justify-items: center;
  align-content: center;
}
header ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 70%;
}
header li {
  padding: 0 2%;
  text-align: center;
  line-height: 0;
}
header a {
  font-size: 1.08rem;
  text-decoration: none;
}
header .activeUser {
  grid-column: 3/4;
  grid-row: 1/3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 30vw;
  max-height: 5rem;
}
header .activeUser * {
  font-size: 0.9rem;
  min-height: 42px;
}
header .admintoggle {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: center;
  width: 50%;
  height: 50%;
  background-image: linear-gradient(purple, pink);
  font-size: 0.486rem;
  padding: 0.2rem;
}
header .admintoggle:hover {
  box-shadow: 0.2rem 0.3rem 0.2rem rgb(107, 42, 153);
}

.gameitems {
  display: flex;
  flex-direction: column;
}
.gameitems .heroes,
.gameitems .items,
.gameitems .spells {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.gameitems .heroes .heroes li,
.gameitems .items .heroes li,
.gameitems .spells .heroes li {
  width: 46%;
}
.gameitems .heroes .spells li,
.gameitems .items .spells li,
.gameitems .spells .spells li {
  width: 21%;
}
.gameitems .heroes .items,
.gameitems .items .items,
.gameitems .spells .items {
  width: 30%;
}

.herocard {
  display: flex;
  flex-wrap: wrap;
}
.herocard > * {
  width: 48%;
  padding: 1%;
}
.herocard h4,
.herocard h5 {
  width: 100%;
}

.heroCardMini {
  display: flex;
}
.heroCardMini > div {
  display: flex;
  flex-direction: column;
}

.itemCard {
  display: flex;
  flex-wrap: wrap;
  z-index: 2;
}
.itemCard li {
  width: 48%;
  padding: 1%;
}
.itemCard .fullRow {
  width: 100%;
}

.spellCard {
  display: flex;
  flex-direction: column;
}

.collection {
  display: grid;
  height: calc(100vh - 5rem);
  grid-template-columns: 1fr 45%;
  grid-template-rows: 20% 1fr 20%;
  padding: 1.5%;
}
.collection > * {
  min-height: 0;
}
.collection header {
  display: flex;
}
.collection__displayHero {
  width: 60%;
}
.collection__heroes {
  width: 40%;
}
.collection__team {
  width: 100%;
}

.frame {
  display: grid;
  grid-template-columns: 3rem 1fr 3rem;
  grid-template-rows: 1fr 1fr;
  position: absolute;
  width: 100%;
  height: 5rem;
  z-index: 0;
  pointer-events: none;
}
.frame img {
  height: 2.5rem;
  width: auto;
}
.frame .border-top {
  max-width: 15%;
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
  align-self: start;
}
.frame .top-left-corner {
  rotate: 90deg;
  grid-column: 1;
  grid-row: 1;
}
.frame .top-rigth-corner {
  rotate: 180deg;
  grid-column: 3;
  grid-row: 1;
  justify-self: end;
}
.frame .bottom-left-corner {
  grid-column: 1;
  grid-row: 2;
  align-self: end;
}
.frame .bottom-right-corner {
  rotate: -90deg;
  grid-column: 3;
  grid-row: 2;
  align-self: end;
  justify-self: end;
}/*# sourceMappingURL=index.css.map */